.gnb{
    position: absolute;
    width:276px;
    height: 100%;
    padding:240px 18px 0;
    background: #fff;
}
.gnb .inner{padding:0 18px; position: relative;}
.gnbItem{
    position: relative;
    z-index: 8;
    display: block;
    padding:14px 30px;
    font-size:20px;
    font-weight:700;
    color:#333;
    text-decoration: none;
    margin-bottom:12px;
    transition: color 0.5s ease;
}
.gnbItem .icon{
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
    transition: 0.2s;
    transition-delay: 0.3s;
    opacity:0;
}
.gnbItem.active .icon{
    opacity:1;
}

.gnbItem.active{
    color:#fff;
}
.gnbItem span{
    position:relative; 
    z-index: 2;
}
.activeBg{
    display:block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:55px;
    border-radius: 32px;
    z-index: 1;
    transition: all 0.4s ease;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4294fe+0,2567e7+100 */
    background: #4294fe; /* Old browsers */
    background: -moz-linear-gradient(left,  #4294fe 0%, #2567e7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #4294fe 0%,#2567e7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #4294fe 0%,#2567e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4294fe', endColorstr='#2567e7',GradientType=1 ); /* IE6-9 */
}