.gnb{
    position: absolute;
    top:0;
    width:100%;
    transition: all 0.2s ease-in-out;
    padding:50px 20px;
    background:#16171B;
    z-index: 99;
}
.gnb .active_bar{
    display: block;
    position: absolute;
    right:0;
    bottom:-24px;
    width:40px;
    height:2px;
    background:#01B075;
    transition: all 0.2s;
    opacity: 0;
}
.gnb.on{
    position:fixed;
    top:0;
    padding:30px 0;
    box-shadow: 0px 5px 40px -17px rgba(0,0,0,0.15);
}
.gnb .inner{
    max-width:1200px; 
    margin:0 auto;    
    position: relative;
    transition: all 0.2s ease-in-out;
    
}
.gnb.on .inner{width:1220px;}
.gnb .logo{
    display:inline-block;
}
.gnb .logo_svg{
    height:1.8em; 
    width:auto;
}
.gnb .nav_rt .gnbItem{
    display: block;
    
}
.gnb .nav_rt{
    position:absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
    transition: all 0.2s;
}
.gnb .nav_rt .gnbItem{
    display:block; 
    float:left; 
    margin-left:1.5em;
    padding:0.75em;
    color:#fff;
    font-size:1em;
    line-height:1em;
    font-weight: 400;
    transition: color 0.2s ease-in-out 0s;
}
.gnb .nav_rt .gnbItem:hover{
    color:#666;
}

@media only screen and (max-width:1024px){

    .gnb{
        padding:20px 24px;
    }
    .gnb.on{
        padding:20px 24px;
    }
    .gnb .active_bar{
        bottom:0;
    }
    .gnb .nav_rt{
        right:-12px;
    }
    .gnb.on .inner{
        width:auto;
    }
}
@media only screen and (max-width:960px){

    .gnb .inner{
        padding:0;
    }
    .gnb .logo_svg{
        height:1.2em;
    }
    .gnb .nav_rt .gnbItem{
        font-size:0.8em;
    }
}