.wrap{
  padding-top:140px;
  
}
.container{
  max-width:1220px;
  min-height: 80vh;
  padding:0 20px;
  margin:0 auto;
}

.fade-appear,
.enter{
  opacity:0;
}
.fade-appear-active,
.enter.enter-active{
  opacity:1;
  transition: opacity 0.3s linear 0.15s;
}

.exit{
  opacity: 1;
}
.exit.exit-active{
  opacity:0;
  transition: opacity 0.15s linear;
}

.footer{
  text-align: center; 
  padding:100px 0;
}
.footer .inner{
  max-width:1220px;
  padding:50px 20px;
  margin:0 auto;
 
}
.footer .inner p{margin-bottom:0.7em;}
.footer .inner .contact{color:#a9a9a9}
.footer .inner .contact .mail_icon{margin-right:0.5em;}

@media only screen and (max-width:1024px){
  .wrap{
    padding-top:100px;
  }
}

@media only screen and (max-width:768px){
  .container{
    padding:0 16px;
  }
  .footer .inner p{font-size:0.8em;}
}